
/* Main Containers */
.outer-container {
  height: 600px;
  width: 500px;
  background: #eee;
  border: 5px solid #ccc;
  
}
.game-window {
  height: 100%;
  width: 300px;
  background: #222;
  border-right: 3px solid #53f;
  float: left;
  position:relative;
}
.status-window {
  height: 100%;
  width: 197px;
  background: #feb;
  float: right;
}


/* Game Objects */
.ship {
  top: 530px;
  left: 122px;
  position: relative;
  display: inline-block;
}
.rocket {
  position: absolute;
}
.rocket img {
  height: 40px;
}
.asteroid {
  position: absolute;
}

.lives-window {
  height: 11px;
  width: 100%;
  position: absolute;
  top:0px;
}

.splash-window{
  text-align: center;
  color:blue;
}

.game-over
{
  float: left;
  width:75px;
  color: white;
  position:absolute;
  margin: 10px;
  border-right: 3px solid #53f;
}

.game-over-panel
{
  text-align: center;
  color:white;
  position:relative;
}


